# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# files used in MicroPython, not Meerkat
boot.py
main.py

# Data files output by meerkat
*.csv
*.jsontxt

# Jupyter Notebook / IDE files
\.idea/
\.ipynb_checkpoints/

# Archive of development files
/archive

meerkat/archive/
